.buscar {
  position: relative;
  padding: 5px;
}

.buscar input {
  width: 0;
  height: 40px;
  padding: 0 20px;
  padding-top: 3px;
  margin-top: 10px;
  font-size: 18px;
  outline: none;
  border: 2px solid silver;
  border-radius: 50px;
  transition: all .8s ease;
  text-align: center;
  top: ;
}

.btn {
  width: 60px;
  
  height: 60px;
  line-height: 55px;
  top: 0;
  right: 0;
  bottom: ;
  position: absolute;
  background:black;
  text-align: center;
  color: black;
  font-size: 18px;
  border-radius: 40%;
  cursor: pointer;
  margin-left: 1000px;
  overflow: hidden;
 padding-bottom: 10px;

 
}

.boton{
color: white;
}

.buscar:hover input {
  width: 1050px;
  opacity: ;
}

.buscar input:focus {
  width: 140px;
}

.boton:hover{
color: white;
}

body{

  background-image: url("fondo oscuro.png");
  <background-size: 50%;

}

.gestion-h1{
color: white;
text-align: center;
padding-top: 80px;
}


@media screen and (min-width480px){

.buscar:hover>.buscar-texto{
width: 190px;
}
.buscar input{
  width: 500px;

}



}
